.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px; /* Espace entre les liens */
}

.nav-links a {
  color: white;
  text-decoration: none;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.card-link {
  margin-top: auto; 
  align-self: flex-start;
  padding: 10px;
  background: blue;
  color: white;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0;
}

.cards {
  flex: 1;
}

.footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}